@using X.PagedList;
@using X.PagedList.Mvc.Core
@using EntityLayer.Concrete
@using X.PagedList.Web.Common;
@model IPagedList<Dava>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<html>
<body>
    <h2 class="text-center">DAVA</h2>
    <div class="am-content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DAVA ADI</th>
                    <th>RESİM</th>
                    <th>AÇIKLAMA</th>
                    <th>TARİH</th>
                    <th>DURUM</th>
                    <th>DETAYLAR</th>
                    <th>GÜNCELLE</th>
                    <th>SİL</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.DavaID</td>
                        <td>@item.DavaName</td>
                        <td>@item.DavaName Resmi</td>
                        <td>@item.DavaDescription.Substring(0,item.DavaDescription.Substring(0,20).LastIndexOf(" "))...</td>
                        <td>@item.DavaDate</td>
                        @if (item.DavaStatus == true)
                        {
                            <td><button type="button" class="btn btn-success">  <i class="fa-solid fa-check"></i></button></td>
                        }
                        else
                        {
                            <td>
                                <button type="button" class="btn btn-danger">
                                    <i class="fa-solid fa-close"></i>
                                </button>
                            </td>
                        }
                        <td><a href="/Dava/MoreDava/@item.DavaID" type="button" class="btn btn-outline-primary">DETAYLAR</a></td>
                        <td><a href="/AdminDava/davaUpdate/@item.DavaID" type="button" class="btn btn-outline-warning">GÜNCELLE</a></td>
                        <td><a href="/AdminDava/davaDelete/@item.DavaID" type="button" class="btn btn-outline-danger">SİL</a></td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new {page}),   new PagedListRenderOptions {
        DisplayLinkToIndividualPages = true,
        DisplayPageCountAndCurrentLocation = false,
        MaximumPageNumbersToDisplay = 10,
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        })
    </div>
    <a href="/AdminDava/AddDava" type="button" class="btn btn-outline-primary btn-add">Yeni Dava Ekle &nbsp; <i class="fa-solid fa-circle-nodes"></i></a>
    
</body>
</html>

